@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: violet;
	display: grid;
	place-items: center;
	height: 100vh;
	font-family: "Roboto", sans-serif;
	color: rebeccapurple;
}

.appContainer {
	height: 300px;
	/* width: 600px; */
	/* border: 2px solid yellow; */
	position: relative;
	display: flex;
	background-color: pink;
	box-shadow: 5px 5px 5px black;
	border-radius: 2px;
}

.appContainer__logo {
	position: absolute;
	top: 10px;
	right: 10px;
	color: rebeccapurple;
	font-size: 20px;
}

.drumpad {
	padding: 25px;
	flex: 0.6;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 7px;
}
.drumpad button {
	padding: 30px;
	cursor: pointer;
	background-color: #e6e3e3;
	overflow: hidden;
	outline: none;
	border-radius: 5px;
	box-shadow: 2px 2px 3px black;
}
.controls {
	padding: 25px;
	flex: 0.4;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

input[type="range"] {
	height: 3px;
	-webkit-appearance: none;

	outline: none;
	margin: 10px 0;
	width: 100%;
	cursor: pointer;
	background-color: rgb(87, 11, 74);
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	background-color: silver;
	width: 5px;
	height: 10px;
}
.inActive {
	/* border: 2px solid red; */
	visibility: hidden;
}

.switch span {
	font-weight: bold;
	text-transform: uppercase;
}

.switch label {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 130px;
}

.control-input {
	background-color: rgb(87, 11, 74);
	color: white;
	padding: 5px 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

#Q {
	background-image: url("https://i.dlpng.com/static/png/1415482-unicorn-drawing-cartoon-clip-art-unicorn-unicorn-images-png-900_900_preview.png");
	background-size: cover;
}

#W {
	background-image: url("https://st4.depositphotos.com/19666466/21851/v/1600/depositphotos_218517550-stock-illustration-vector-illustration-small-unicorn-rainbow.jpg");
	background-size: cover;
}
#E {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROkaQ_gH1qhPdi3j8AeK8dYwlRGiMpZ_SuRA&usqp=CAU");
	background-size: cover;
}
#A {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZqCJQqMJGkEe2m6C2qweeY6fXwSuZm32XHw&usqp=CAU");
	background-size: cover;
}
#S {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7x2hPEx7c_aJ-mz5quKORH6PGB-gvweY4Ag&usqp=CAU");
	background-size: cover;
}
#D {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwhMP2w0OnWtaKyYru505yzFgQ3JrNcKQ6kg&usqp=CAU");
	background-size: cover;
}
#Z {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS643XVF4FewDU1gorbER1ukqfQMm_GCRY8bQ&usqp=CAU");
	background-size: cover;
}
#X {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs8TGPb91aTLWa2r4d2wY7T_MXCR5BPrgiBw&usqp=CAU");
	background-size: cover;
}
#C {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSYNaAfrxT_Oi40of-C-jLNEw0ZliEShhRCQ&usqp=CAU	");
	background-size: cover;
}
@media screen and (max-width: 570px) {
	.appContainer {
		flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.drumpad {
		margin-top: 20px;
		padding: 20px;
		flex: 0.5;
	}
	.controls {
		flex: 0.5;
		margin-top: 20px;
		margin-bottom: 20px;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}
	.volume-control {
		padding: 10px;
	}
	.switch {
		padding: 10px;
	}
}
